# SPDX-FileCopyrightText: 2018 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
/build/artifacts

composer.phar
.php-cs-fixer.cache
/vendor/
/vendor-bin/*/vendor
/node_modules

/js

/tests/clover.xml
/tests/.phpunit.result.cache

