name: Release
on: workflow_dispatch

jobs:
  release:
    permissions:
      contents: write
    environment: release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.RELEASE_PAT }}
          fetch-depth: 0
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.RELEASE_PAT }}
          skip-git-pull: "true"
          pre-commit: build/pre-commit.js
          release-count: 0
          version-file: "package.json, package-lock.json"
      - name: Read package.json node and npm engines version
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        uses: skjnldsv/read-package-engines-version-actions@v1.1
        id: versions
        with:
          fallbackNode: '^16'
          fallbackNpm: '^8'
      - name: Set up Nextcloud env
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        uses: ChristophWurst/setup-nextcloud@v0.3.1
        with:
          php-version: 'false'
          node-version: 'false'
          npm-version: ${{ steps.versions.outputs.npmVersion }}
          tools: 'krankerl'
      - name: Package app
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        run: krankerl package
      - name: Push tag to releases organization
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        run: |
          git remote add release https://github.com/nextcloud-releases/twofactor_admin.git
          git push release ${{ steps.changelog.outputs.tag }}
      - name: Create Release in releases organization
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        id: github-release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PAT }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          release_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}
          files: twofactor_admin-${{ steps.changelog.outputs.tag }}.tar.gz
          repository: nextcloud-releases/twofactor_admin
      - name: Print assets info
        run: echo ${{ steps.github-release.outputs.assets }}
      - name: Upload app to Nextcloud appstore
        uses: nextcloud-releases/nextcloud-appstore-push-action@v1
        with:
          app_name: ${{ env.twofactor_admin }}
          appstore_token: ${{ secrets.APPSTORE_TOKEN }}
          download_url: ${{ fromJson(steps.github-release.outputs.assets)[0].browser_download_url }}
          app_private_key: ${{ secrets.APP_PRIVATE_KEY }}
