# SPDX-FileCopyrightText: 2022 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT
name: Release
on: workflow_dispatch

jobs:
  release:
    permissions:
      contents: write
    environment: release
    runs-on: [ubuntu-latest, self-hosted]
    steps:
      - name: Checkout repository
        uses:  actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          token: ${{ secrets.RELEASE_PAT }}
          fetch-depth: 0
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@84dadaf2c367cb52af02737cd9c7e888807219e7 # v6.2.0
        with:
          github-token: ${{ secrets.RELEASE_PAT }}
          skip-git-pull: "true"
          pre-commit: build/pre-commit.js
          release-count: 0
          version-file: "package.json, package-lock.json"
      - name: Read package.json node and npm engines version
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        uses: skjnldsv/read-package-engines-version-actions@06d6baf7d8f41934ab630e97d9e6c0bc9c9ac5e4 # v3
        id: versions
        with:
          fallbackNode: '^16'
          fallbackNpm: '^8'
      - name: Set up Nextcloud env
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        uses: ChristophWurst/setup-nextcloud@fc0790385c175d97e88a7cb0933490de6e990374 # v0.3.2
        with:
          php-version: 'false'
          node-version: ${{ steps.versions.outputs.nodeVersion }}
          npm-version: ${{ steps.versions.outputs.npmVersion }}
          tools: 'krankerl'
      - name: Package app
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        run: krankerl package
      - name: Push tag to releases organization
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        run: |
          git remote add release https://github.com/nextcloud-releases/twofactor_admin.git
          git push release ${{ steps.changelog.outputs.tag }}
      - name: Create Release in releases organization
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        id: github-release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_PAT }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          release_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}
          files: build/artifacts/twofactor_admin.tar.gz
          repository: nextcloud-releases/twofactor_admin
      - name: Print assets infos
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        run: echo ${{ steps.github-release.outputs.assets }}
      - name: Upload app to Nextcloud appstore
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        uses: nextcloud-releases/nextcloud-appstore-push-action@a011fe619bcf6e77ddebc96f9908e1af4071b9c1 # v1.0.3
        with:
          app_name: ${{ env.twofactor_admin }}
          appstore_token: ${{ secrets.APPSTORE_TOKEN }}
          download_url: ${{ fromJson(steps.github-release.outputs.assets)[0].browser_download_url }}
          app_private_key: ${{ secrets.APP_PRIVATE_KEY }}
